<form method="post" action="{{ path('app_produit_delete', {'id': produit.id}) }}" onsubmit="return confirm('Etes vous sûr de supprimer ce jeu du catalogue ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ produit.id) }}">
    <button class="btn-suppr d-inline">Supprimer</button>
</form>
